[submodule "RMI"]
	path = RMI
	url = git@github.com:learnedsystems/RMI.git
[submodule "competitors/FST"]
	path = competitors/FST
	url = https://github.com/Christoph-Maximilian/FST
[submodule "competitors/PGM-index"]
	path = competitors/PGM-index
	url = git@github.com:christophanneser/FST.git
[submodule "competitors/rs"]
	path = competitors/rs
	url = git@github.com:learnedsystems/RadixSpline.git
[submodule "fast64"]
	path = fast64
	url = git@github.com:RyanMarcus/fast64.git
[submodule "wormhole"]
	path = wormhole
	url = git@github.com:wuxb45/wormhole.git
[submodule "competitors/ALEX"]
	path = competitors/ALEX
	url = git@github.com:microsoft/ALEX.git
[submodule "competitors/CHT"]
	path = competitors/CHT
	url = git@github.com:stoianmihail/CHT.git
[submodule "competitors/ts"]
	path = competitors/ts
	url = git@github.com:stoianmihail/PLEX.git
[submodule "competitors/analysis-rmi"]
	path = competitors/analysis-rmi
	url = git@github.com:alhuan/analysis-rmi.git
